:root {
  --clr-purple-main: #6e00ff;
  --clr-purple-header: #6C00FA;
  --clr-purple-light: #AA56FF;
  --clr-orange: #FFAA2B;
  --clr-light-grey: #ECECEC;
  --clr-medium-grey: #D3D3D3;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* LANDING PAGE ==================================== */

.header-container {
  display: grid;
  grid-template-columns: 67% auto;
  background: unset;
}

header {
  background: var(--clr-purple-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.logo {
  font-family: 'Norican';
  font-weight: 100;
  color: var(--clr-orange);
  white-space: nowrap;
  font-size: 1.75rem;
  padding-left: 2rem;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  color: white;
  margin: 0 1rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  cursor: pointer;
  white-space: nowrap;
}

.landing-page {
  display: grid;
  grid-template-columns: 67% auto;
  background: unset;
  height: 90vh;
}

.landing-page-content {
  background: var(--clr-purple-main);
  padding: 6.5rem 15rem 4rem 5rem;
}

.landing-page-content h2 {
  font-size: 2.5rem;
  color: white;
  margin: 0;
  padding-bottom: 1.5rem;
}

.landing-page-content p {
  line-height: 1rem;
  color: white;
}

.landing-page-content button i {
  font-size: 1.2rem;
  margin-left: .75rem;
}

.landing-page-content button {
  margin-top: 3rem;
  padding: 0.75rem 1.25rem;
  color: white;
  background: transparent;
  border: 1.5px solid white;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 300ms ease-in-out;
  display: flex;
  align-items: center;
}

.landing-page-content button:hover {
  background: var(--clr-orange);
  border: 1.5px solid var(--clr-orange);
  color: black;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
}

.social-links i {
  margin: 0 2.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.landing-page-svg {
  width: 100%;
  margin-left: -50%;
  margin-top: 12%;
}