@media (max-width: 970px) {
  .landing-page {
    display: unset;
  }

  .landing-page-content {
    padding-bottom: 10rem;
  }

  .social-links {
    display: none;
  }

  .header-container {
    display: unset;
    width: 100%;
  }

  .first-link {
    display: block;
  }

  .landing-page-svg {
    display: none;
  }
}

@media (min-width: 1125px) {
  .landing-page-content {
    padding-top: 12rem;
  }

  .landing-page-svg {
    margin-top: 10rem;
  }
}


@media (max-width: 1125px) {

  .featured-project {
    display: unset;
  }

  .featured-project-left {
    width: 100%;
  }

  .featured-project-svg {
    float: unset;
    margin: 3rem auto 4rem auto;
    width: 80%;
    display: block;
  }

  .project-1, .project-2 {
    display: unset;
  }

  .project-1-img, .project-2-img {
    margin: 8rem auto 3rem auto;
    width: 80%;
  }

  .project-1 .project-svg, .project-2 .project-svg {
    float: unset;
  }
  
  .my-projects h3 {
    text-align: center;
    padding: 3rem 0 3rem 0;
  }
  
  .my-projects h4 {
    padding-left: 4rem;
  }
  
  .my-projects h5 {
    padding-left: 4rem;
  }
  
  .my-projects p {
    padding: 1rem 1rem 0 4rem;
  }

  .my-skillset {
    margin-top: 0;
  }
}

@media (min-width: 1550px) {
  .logo {
    padding-left: 6rem;
  }

  .desktop-nav li {
    margin: 0 .75rem;
  }

  .landing-page-content {
    padding: 12rem 20rem 4rem 9rem;
  }

  .landing-page-content h2 {
    font-size: 3rem;
  }

  .landing-page-svg {
    margin-top: 8rem;
  }

  .desktop-nav ul {
    padding-right: 3rem;
  }

  .featured-project-svg {
    margin-top: 2rem;
    width: 55%;
    margin-right: 5%;
  }

  .my-skillset {
    margin-top: 0rem;
  }

  .project-1 .project-svg, .project-2 .project-svg {
    margin-right: 5%;
    width: 80%;
  }

  .project-2 {
    margin-top: 4rem;
  }

  .about-me {
    margin-top: 3rem;
  }

  .about-me-content {
    padding-left: 6rem;
  }

  .about-me-right {
    padding-right: 6rem;
  }
}

@media (min-width: 1850px) {
  p {
    font-size: 1.1rem;
  }

  .logo {
    padding-left: 9rem;
    font-size: 2rem;
  }

  .desktop-nav ul {
    padding-right: 9rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
  }

  .landing-page-content {
    padding: 10rem 30rem 6rem 12rem;
  }

  .landing-page-content h2 {
    font-size: 3.25rem;
  }

  .landing-page-content button {
    font-size: 1rem;
    margin-top: 7rem;
  }

  .featured-project-svg {
    width: 50%;
  }

  .my-skillset {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .cards {
    width: 70%;
  }

  .card p, .card h4 {
    font-size: 1.1rem;
  }

  .project-2 {
    margin-top: 3rem;
  }

  .project-2-img {
    margin-top: 5rem;
  }

  .about-me {
    margin-top: -2rem;
  }

  
  .about-me-content {
    padding-left: 9rem;
  }

  .about-me-right {
    padding-right: 9rem;
  }

  
}