:root {
  --clr-purple-main: #6e00ff;
  --clr-purple-header: #6C00FA;
  --clr-purple-light: #AA56FF;
  --clr-orange: #FFAA2B;
  --clr-light-grey: #ECECEC;
  --clr-medium-grey: #D3D3D3;

}

* {
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* LANDING PAGE ==================================== */

.header-container {
  display: grid;
  grid-template-columns: 67% auto;
  background: unset;
}

header {
  background: var(--clr-purple-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.logo {
  font-family: 'Norican';
  font-weight: 100;
  color: var(--clr-orange);
  white-space: nowrap;
  font-size: 1.75rem;
  padding-left: 2rem;
}

.desktop-nav ul {
  display: flex;
  list-style-type: none;
}

.desktop-nav li {
  color: white;
  padding: .35rem 1rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  cursor: pointer;
  white-space: nowrap;
  transition: 200ms all ease-in-out;
}

.landing-page {
  display: grid;
  grid-template-columns: 67% auto;
  background: unset;
  height: 90vh;
}

.landing-page-content {
  background: var(--clr-purple-main);
  padding: 6.5rem 15rem 4rem 5rem;
}

.landing-page-content h2 {
  font-size: 2.5rem;
  color: white;
  margin: 0;
  padding-bottom: 1.5rem;
}

.landing-page-content p {
  line-height: 1rem;
  color: white;
}

.landing-page-content button i {
  font-size: 1.2rem;
  margin-left: .75rem;
}

.landing-page-content button {
  margin-top: 3rem;
  padding: 0.75rem 1.25rem;
  color: white;
  background: transparent;
  border: 1.5px solid white;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 300ms ease-in-out;
  display: flex;
  align-items: center;
  outline: none;
}

.landing-page-content button:hover {
  background: white;
  color: var(--clr-purple-main);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
}

.social-links i {
  margin: 0 2.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.landing-page-svg {
  width: 100%;
  margin-left: -50%;
  margin-top: 12%;
}

/* HOVER EFFECTS */

nav li:hover {
  background: white;
  color: var(--clr-purple-header);
  border-radius: 6px;
}

/* MOBILE-NAV ============================================== */

.hamburger-menu {
  width: 20px;
  height: 24px;
  position: fixed;
  top: 26px;
  right: 3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 800ms;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-6px, 5.5px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-6px, -5.5px);
}

.mobile-nav {
  width: 300px;
  height: 100vh;
  background-color: var(--clr-purple-header);
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20% 0 0 60%;
  transition: right 800ms cubic-bezier(1, 0, 0, 1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  color: white;
  letter-spacing: 2px;
  font-weight: 500;
}

.change {
  right: 0;
}

.mobile-nav ul {
  text-align: right;
}

.mobile-nav li {
  list-style: none;
  margin: 2rem;
}

.mobile-nav-link {
  text-decoration: none;
  font-weight: 600;
  display: block;
  padding: 1rem;
}



/* FEATURED PROJECT ====================================== */

.purple-square-svg {
  margin-top: 4rem;
}

.featured-project {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.featured-project-left {
  width: 50%;
}

.featured-project h5 {
  color: var(--clr-purple-main);
  letter-spacing: 3px;
  margin-top: -5rem;
  padding-left: 9rem;
}

.featured-project h3 {
  padding-left: 9rem;
  font-size: 2rem;
  margin-top: -1rem;
}

.featured-project p {
  padding: 1rem 4rem 0 9rem;
  line-height: 1.75rem;
}

.featured-project-svg {
  float: right;
  width: 60%;
  margin-right: -10%;
  margin-top: 1rem;
}



/* MY SKILLSET =========================================== */

.my-skillset {
  background: var(--clr-orange);
  margin-top: -8.5rem;
  padding: 4rem;
}

.my-skillset h3 {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  margin: 0;
}

.divider-svg {
  display: block;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  margin: 1rem;
  padding: 5rem 2rem 3rem 2rem;
  border-radius: 12px;
}

.card h4 {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  line-height: 1rem;
}

.card p {
  font-size: .9rem;
}



/* MY PROJECTS ================================================== */

.project-1, .project-2 {
  display: grid;
  grid-template-columns: 40% auto;
}

.project-1 .project-svg, .project-2 .project-svg {
  float: right;
  width: 100%;
  margin-right: -15%;
  margin-top: -10%;
}

.project-2 {
  margin-top: .5rem;
}

.my-projects h3 {
  padding: 5rem 0 3rem 9rem;
  font-size: 2rem;
  margin: 0;
}

.my-projects h4 {
  font-size: 2rem;
  padding-left: 9rem;
  margin: 0;
}

.my-projects h5 {
  padding-left: 9rem;
  letter-spacing: 3px;
  color: var(--clr-purple-main);
  line-height: 1rem;
  margin: -5rem 0 0 0;
}

.my-projects p {
  padding: 1rem 4rem 0 9rem;
  line-height: 1.75rem;
}



/* ABOUT ME ====================================================== */

.about-me {
  background: var(--clr-light-grey);
  padding: 4rem;
  margin-top: -7rem;
}

.about-me h3 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.about-me-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-me-left {
  padding: 0 6rem 0 1rem;
}

.about-me-right img {
  width: 15rem;
  border-radius: 50%;
  box-shadow: 12px 12px 0px var(--clr-purple-light);
}


/* CONTACT ME ================================================= */

.contact {
  background-color: var(--clr-medium-grey);
  text-align: center;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact h3 {
  padding-bottom: 2rem;
  font-size: 1.9rem;
  color: var(--clr-white);
}

.contact input {
  padding: .5rem;
  margin-bottom: 1rem;
  font-family: 'Poppins';
  outline: none;
}

.contact input[type="submit"] {
  margin-bottom: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
}

.contact form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--clr-light-grey);
  padding: 1.5rem;
  border-radius: 12px;
}

textarea {
  padding: .5rem;
  margin-bottom: 1rem;
  resize: vertical;
  font-family: 'Poppins', sans-serif;
}

.submit-btn {
  background-color: var(--clr-orange);
  color: var(--clr-blackish);
  border-radius: 8px;
  border: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

#status {
  padding: .5rem;
  border-radius: 6px;
  font-size: .9rem;
  font-weight: 600;
  width: 30rem;
  margin: 0 auto;
  margin-top: 1rem;
}

#status.success {
  background-color: rgb(121, 224, 95);
  animation: status 4s ease-in-out forwards;
}

#status.error {
  background-color: rgb(255, 59, 59);
  color: white;
  animation: status 4s ease-in-out forwards;
}

@keyframes status {
  0% {
      opacity: 1;
      pointer-events: all;
  }
  90% {
      opacity: 1;
      pointer-events: all;
  }
  100% {
      opacity: 0;
      pointer-events: none;
  }
}

/* HOVER EFFECTS */

.submit-btn:hover {
  background: var(--clr-purple-main);
  color: white;
}



/* FOOTER ===================================================*/

.v-shape {
  width: 100%;
}

footer {
  background: var(--clr-purple-main);
  display: flex;
  justify-content: center;
  margin-top: -0.5rem;
  color: white;
  padding: 0 5rem 4rem 5rem;
}

.footer-list-container {
  flex: 1;
  text-align: center;
}

footer h5 {
  font-size: 1.2rem;
}

footer ul {
  padding-inline-start: 0;
  list-style-type: none;
}

footer li {
  margin-bottom: 0.5rem;
}

footer i {
  font-size: 2rem;
  padding: 0 1.5rem;
}

.copyright-text {
  text-align: center;
  background: var(--clr-purple-main);
  padding: 1rem 0;
  font-size: 0.75rem;
  color: white;
}


